.cart-widget{
    position: relative;

}
.pill{
    position: absolute;
    background-color: rgb(70, 70, 69);
    padding: 2px 2px;
    border-radius: 15px;
    font-size: 13px;
    top: 0;
    right: 0;

}
.cart-widget__cart{
    font-size: 35px;
}