.header{
    display: flex;
    padding: 40px 0;
    background-color: rgb(23, 172, 18);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.navbar__item{
    padding: .8rem;
    cursor: pointer;
}
.navbar__item:hover{
    background-color: green;
    border-radius: 8px;
}
.navbar__link{
    font-size: 1.5em;
}