.header {
    display: flex;
    background-color: #2b2b2b;
    color: white;
    padding: 20px 0;
    justify-content: space-between;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar__logo img {
    height: 90px; 
    display: block; 
    margin: 0;
    padding-left: 15px;
}

.navbar {
    display: flex;
    align-items: center; 
    gap: 20px;
}

.navbar__link {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar__link:hover {
    background-color: #3fa34d;
    color: white;
}

.navbar__link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar__link-button:hover {
    background-color: #3fa34d;
    color: white;
}
